In [2]:
!pip install --upgrade pandas

Requirement already up-to-date: pandas in c:\users\nhlahla jr\anaconda3\new folder\lib\site-packages (1.0.5)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\nhlahla jr\anaconda3\new folder\lib\site-packages (from pandas) (1.18.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\nhlahla jr\anaconda3\new folder\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in c:\users\nhlahla jr\anaconda3\new folder\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\nhlahla jr\anaconda3\new folder\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

In [3]:
import pandas as pd

In [9]:
data = ['simba' , ' lays']
df_one = pd.DataFrame(data,columns =[' Chips'])
df_one

   Chips
0  simba
1   lays

In [11]:
data = ['coke' , 'fanta' ]
df_two = pd.DataFrame(data,columns = ['Colddrinks'])
df_two

  Colddrinks
0       coke
1      fanta

In [12]:
ata = ['cadbury,Tex']
df_three = pd.DataFrame(data, columns = ['Choclates'])
df_three

  Choclates
0      coke
1     fanta

In [13]:
data = ['pepper steak, chicken']
df_three = pd.DataFrame(data, columns = ['Pies'])
df_three

                    Pies
0  pepper steak, chicken

In [14]:
data = ['Pear', 'Apples', 'Oranges']
df_four = pd.DataFrame(data, columns = ['Fruits'])
df_four

    Fruits
0     Pear
1   Apples
2  Oranges

In [15]:
data = ['Vannilla','Chocolate']
df_five = pd.DataFrame(data, columns = ['Cupcakes'])
df_five

    Cupcakes
0   Vannilla
1  Chocolate

In [ ]:
data = ['Spinach', 'Cabbage']
df_six = pd.DataFrames(data, columns =['Veggies'])
df_six